html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
    text-align: center;
}

#content {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

#content > div {
    text-align: left;
    padding-right: 5px;
}

#title { 
    position: fixed;
    top: 11px;
    left: 15px;
    font-size: 30px;
    width: max-content !important;
}

#nip {
    padding: 3px;
}

button {
    font-family: monospace;
    padding: 1px 2px;
    border: 1.5px gray outset;
    border-radius: 0;
    padding: 2px;
    margin-top: 5px;
    margin-right: 5px;
}
button:active {
    filter: brightness(85%);
    border: 1.5px gray inset;
}

#row1 {
    padding-right: 30px !important;
}

#inventory {
    padding: 3px;
    border: 2px solid gray
}

#inventory > span {
    text-decoration: underline;
}

.icard {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cardnum {
    display: inline-block;
    width: 30px;
    height: 12px;
    margin: 2px 5px 2px 0px;
}

.cardtitle {
    display: inline-block;
    margin-right: 4px
}
.cardcount {
    display: inline-block;
    margin-right: 13px
}

.cardsell {
    margin-right: 2px;
}